<login-card>
    <form class="card-body my-5 py-5"
          [formGroup]="loginForm"
          (ngSubmit)="login()">
        <h1 class="mb-5 text-center">{{'LOGIN_PAGE' | translate}}</h1>

        <app-input [name]="'EMAIL' | translate"
                   formControlName="username">
        </app-input>

        <app-input [name]="'PASSWORD' | translate"
                   type="password"
                   formControlName="password">
        </app-input>


        <button type="submit"
                [disabled]="loading"
                class="btn btn-success w-100">
            {{'LOGIN' | translate}}
        </button>

        <div class="mt-3">
            <a class="link-dark"
               routerLink="/register">
                {{'OR_REGISTER' | translate}}
            </a>
        </div>
    </form>
</login-card>
