<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card login-card py-5">
        <form class="card-body my-5 py-5"
              [formGroup]="loginForm"
              (ngSubmit)="login()">
            <h1 class="mb-5 text-center">Login page</h1>

            <div class="mb-3">
                <label for="username" class="form-label">
                    Email:
                </label>
                <input type="text"
                       id="username"
                       class="form-control"
                       formControlName="username"
                />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">
                    Password:
                </label>
                <input type="password"
                       id="password"
                       class="form-control"
                       formControlName="password"
                />
            </div>

            <button type="submit"
                    [disabled]="loading"
                    class="btn btn-success">
                Zaloguj się
            </button>
        </form>
    </div>
</div>
