<div class="mb-4">
    <div class="card px-4">
        <div class="card-body">
            <div class="d-flex mt-4">
                <h1>
                    {{'MENU_DETAILS' | translate}}
                </h1>

                <div class="buttons ms-3 mt-1"
                     *ngIf="'menus:edit' | hasAccess">
                    <button class="btn btn-outline-success"
                            (click)="openSectionModal()">
                        {{'ADD_SECTION' | translate}}
                    </button>
                </div>
            </div><div class="mt-5">

            <loading [loading]="loading">
            </loading>

            <div class="mb-4" *ngFor="let section of sections">
                <app-collapse [(collapse)]="section.collapsed">
                    <ng-template #headerTemplate>
                        <div class="d-flex justify-content-between">
                            {{section.name}}

                            <div class="buttons fs-5"
                                 *ngIf="'menus:edit' | hasAccess"
                                 (click)="$event.stopPropagation()">
                                <div class="text-success"
                                     (click)="openDishModal(section)"
                                     [title]="'ADD_DISH' | translate">
                                    <fa-icon icon="plus-square"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template #bodyTemplate>
                        <div class="card ms-4 my-2" *ngFor="let dish of section.dishes">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div>
                                            {{dish.name}}
                                        </div>
                                        <div class="ingredients">
                                            <span class="text-muted small"
                                                  *ngFor="let ingredient of dish.ingredients;let last = last">
                                                {{ingredient.name}}<ng-container *ngIf="!last">,</ng-container>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center">
                                        {{dish.price | price}}

                                        <div *ngIf="'menus:order' | hasAccess"
                                             class="ms-4"
                                             (click)="$event.stopPropagation()">
                                            <a class="btn-link text-success cursor-pointer"
                                               (click)="orderDish(dish)"
                                               [title]="'ORDER_DISH' | translate">
                                                <fa-icon icon="shopping-basket"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </app-collapse>
            </div>
        </div>
        </div>
    </div>

    <div class="card px-4 mt-4" *ngIf="reservationId && ('menus:order' | hasAccess)">
        <div class="card-body">
            <menu-order [(dishes)]="orderedDishes" [reservationId]="reservationId">
            </menu-order>
        </div>
    </div>
</div>


<app-modal [(open)]="isSectionModalOpen">
    <form [formGroup]="sectionForm" (ngSubmit)="saveSection()">
        <div class="modal-header">
            <h5 class="modal-title">{{'ADD_SECTION' | translate}}</h5>
            <button type="button"
                    class="btn-close"
                    (click)="isSectionModalOpen = !isSectionModalOpen"
                    aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <app-input formControlName="name"
                       [name]="'NAME' | translate">
            </app-input>

            <app-input formControlName="description"
                       [name]="'DESCRIPTION' | translate">
            </app-input>

            <app-input formControlName="sectionOrder"
                       type="number"
                       [name]="'ORDER' | translate">
            </app-input>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="isSectionModalOpen = !isSectionModalOpen">
                {{'CLOSE_MODAL' | translate}}
            </button>
            <button type="submit"
                    class="btn btn-success">
                {{'SAVE' | translate}}
            </button>
        </div>
    </form>
</app-modal>

<app-modal [(open)]="isDishModalOpen">
    <form [formGroup]="dishForm"
          (ngSubmit)="saveDish()"
          *ngIf="isDishModalOpen">
        <div class="modal-header">
            <h5 class="modal-title">{{'ADD_DISH' | translate}}</h5>
            <button type="button"
                    class="btn-close"
                    (click)="isDishModalOpen = !isDishModalOpen"
                    aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <app-input formControlName="name"
                       [name]="'NAME' | translate">
            </app-input>

            <app-input formControlName="description"
                       [name]="'DESCRIPTION' | translate">
            </app-input>

            <app-input formControlName="price"
                       type="price"
                       [name]="'PRICE' | translate">
            </app-input>

            <app-input formControlName="dishOrder"
                       type="number"
                       [name]="'ORDER' | translate">
            </app-input>

            <multiple-options-creator [items]="ingredients"
                                      [(selectedItems)]="dishSelectedIngredients"
                                      label="SELECT_INGREDIENTS"
                                      [isRequired]="true"
                                      itemLabelKey="name">
            </multiple-options-creator>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="isDishModalOpen = !isDishModalOpen">
                {{'CLOSE_MODAL' | translate}}
            </button>
            <button type="submit"
                    [disabled]="!dishSelectedIngredients?.length"
                    class="btn btn-success">
                {{'SAVE' | translate}}
            </button>
        </div>
    </form>
</app-modal>
