<div class="card px-4">
    <div class="card-body">
        <div class="d-flex mt-4">
            <h1>{{'MENUS' | translate}}</h1>
            <div class="buttons ms-3 mt-1">
                <button class="btn btn-outline-success">
                    {{'ADD_INGREDIENT' | translate}}
                </button>

                <button class="btn btn-outline-success ms-2">
                    {{'ADD_INGREDIENT' | translate}}
                </button>
            </div>
        </div>

        <div class="mt-5">
            ingredients
        </div>
    </div>
</div>
