<div class="d-flex mt-4 align-items-center">
    <h3 class="m-0">{{'INGREDIENTS' | translate}}</h3>

    <div class="buttons ms-3" *ngIf="ingredientGroups">
        <button class="btn btn-outline-success ms-2"
                *ngIf="'ingredient_group:add' | hasAccess"
                (click)="openIngredientGroupModal()">
            {{'ADD_INGREDIENT_GROUP' | translate}}
        </button>
    </div>
</div>

<div class="mt-5">
    <loading [loading]="loading">
    </loading>

    <div class="mb-4" *ngFor="let ingredientGroup of ingredientGroups">
        <app-collapse [(collapse)]="ingredientGroup.collapsed">
            <ng-template #headerTemplate>
                <div class="d-flex justify-content-between align-items-center">
                    {{ingredientGroup.name}}

                    <div class="align-items-center d-flex fs-5"
                         (click)="$event.stopPropagation()">
                        <div class="text-success"
                             (click)="openIngredientModal(ingredientGroup)"
                             *ngIf="'dish:edit' | hasAccess"
                             [title]="'ADD_DISH' | translate">
                            <fa-icon icon="plus-square"></fa-icon>
                        </div>

                        <remove-button [objectToRemove]="ingredientGroup | transformToRest : 'ingredient_groups'"
                                       [title]="'REMOVE_DISH' | translate"
                                       *ngIf="'dish:remove' | hasAccess"
                                       (removed)="loadIngredients()">
                        </remove-button>
                    </div>
                </div>
            </ng-template>

            <ng-template #bodyTemplate>
                <div class="card ms-4 my-2" *ngFor="let ingredient of ingredientGroup.ingredients">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div>
                                    {{ingredient.name}}
                                </div>
                            </div>

                            <div class="align-items-center d-flex">
                                {{ingredient.price | price}}

                                <remove-button [objectToRemove]="ingredient | transformToRest : 'ingredients'"
                                               (removed)="loadIngredients()">
                                </remove-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </app-collapse>
    </div>
</div>

<app-modal [(open)]="isIngredientGroupModalOpen">
    <form [formGroup]="ingredientGroupForm" (ngSubmit)="saveIngredientGroup()">
        <div class="modal-header">
            <h5 class="modal-title">{{'ADD_DISH' | translate}}</h5>
            <button type="button"
                    class="btn-close"
                    (click)="isIngredientGroupModalOpen = !isIngredientGroupModalOpen"
                    aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <app-input formControlName="name"
                       [name]="'NAME' | translate">
            </app-input>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="isIngredientGroupModalOpen = !isIngredientGroupModalOpen">
                {{'CLOSE_MODAL' | translate}}
            </button>
            <button type="submit"
                    class="btn btn-success">
                {{'SAVE' | translate}}
            </button>
        </div>
    </form>
</app-modal>

<app-modal [(open)]="isIngredientModalOpen">
    <form [formGroup]="ingredientForm"
          *ngIf="isIngredientModalOpen"
          (ngSubmit)="saveIngredient()">
        <div class="modal-header">
            <h5 class="modal-title">{{'ADD_DISH' | translate}}</h5>
            <button type="button"
                    class="btn-close"
                    (click)="isIngredientModalOpen = !isIngredientModalOpen"
                    aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <app-input formControlName="name"
                       [name]="'NAME' | translate">
            </app-input>

            <app-input formControlName="price"
                       type="price"
                       [name]="'PRICE' | translate">
            </app-input>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="isIngredientModalOpen = !isIngredientModalOpen">
                {{'CLOSE_MODAL' | translate}}
            </button>
            <button type="submit"
                    class="btn btn-success">
                {{'SAVE' | translate}}
            </button>
        </div>
    </form>
</app-modal>
