<ng-template #paginationTemplate>
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item"
                [ngClass]="{'disabled': page === 1}">
                <a class="page-link"
                   href="javascript:"
                   (click)="changePage('prev')">
                    {{'PAGINATION_PREV' | translate}}
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link text-secondary"
                   href="javascript:">
                    {{page}}
                </a>
            </li>
            <li class="page-item"
                [ngClass]="{'disabled': page === lastPage}">
                <a class="page-link"
                   href="javascript:"
                   (click)="changePage('next')">
                    {{'PAGINATION_NEXT' | translate}}
                </a>
            </li>
        </ul>
    </nav>
</ng-template>

<div class="app-list my-3">
    <div class="d-flex my-3"
         *ngIf="!listItems">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="mb-4">
        <ng-container *ngTemplateOutlet="paginationTemplate"></ng-container>
    </div>

    <ng-container *ngIf="listItems">
        <div class="card mb-4"
             *ngFor="let item of listItems; let index = index; let first = first; let last = last">
            <div class="card-body">
                <ng-container *ngTemplateOutlet="itemTemplate, context: {$implicit: item, index, first, last}">
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!hasPagination">
        <ng-container *ngTemplateOutlet="paginationTemplate">
        </ng-container>
    </ng-container>
</div>
