<div class="app-list my-3">
    <div class="d-flex my-3"
         *ngIf="!listItems">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <ng-container *ngIf="listItems">
        <div class="card mb-4"
             *ngFor="let item of listItems; let index = index; let first = first; let last = last">
            <div class="card-body">
                <ng-container *ngTemplateOutlet="itemTemplate, context: {$implicit: item, index, first, last}">
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
