<login-card>
    <form [formGroup]="registerForm"
          (ngSubmit)="register()"
          class="card-body my-5 py-5">
        <h1 class="mb-5 text-center">{{'REGISTER_PAGE' | translate}}</h1>

        <app-input [name]="'EMAIL' | translate"
                   formControlName="email">
        </app-input>

        <app-input [name]="'FIRST_NAME' | translate"
                   formControlName="firstName">
        </app-input>

        <app-input [name]="'LAST_NAME' | translate"
                   formControlName="lastName">
        </app-input>

        <app-input [name]="'PHONE' | translate"
                   formControlName="phone">
        </app-input>

        <app-input [name]="'PASSWORD' | translate"
                   type="password"
                   formControlName="password">
        </app-input>

        <app-input [name]="'REPEAT_PASSWORD' | translate"
                   type="password"
                   formControlName="repeatPassword">
        </app-input>

        <div class="mb-3">
            <app-form-error [control]="registerForm"
                            overrideError="PASSWORDS_DONT_MATCH">
            </app-form-error>
        </div>

        <button type="submit"
                [disabled]="loading"
                class="btn btn-success w-100">
            {{'CREATE_NEW_ACCOUNT' | translate}}
        </button>

        <div class="mt-3">
            <a class="link-dark"
               routerLink="/login">
                {{'OR_LOGIN' | translate}}
            </a>
        </div>
    </form>
</login-card>
