<div class="card px-4">
    <div class="card-body">
        <div class="d-flex mt-4">
            <h1>{{'RESERVATIONS' | translate}}</h1>

            <button class="btn btn-outline-success ms-3"
                    (click)="addReservation()">
                {{'ADD_RESERVATION' | translate}}
            </button>
        </div>

        <div class="mt-5">
            <app-list endpoint="reservations">
                <ng-template let-reservation>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <div class="row">
                                <span class="fs-4">#{{reservation.id}}</span>
                                <span class="text-muted">{{reservation.restaurant.name}}</span>
                            </div>

                            <div class="row">
                                <span>{{reservation.user.name}} {{reservation.user.surname}}</span>
                                <span class="text-muted">
                                    {{'FLOOR' | translate}}: {{reservation.table.floor.level}}
                                    {{'TABLE' | translate}}: #{{reservation.table.id}}
                                </span>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-outline-secondary"
                                    [routerLink]="['.', reservation.id]">
                                {{'DETAILS' | translate}}
                            </button>
                        </div>
                    </div>
                </ng-template>
            </app-list>
        </div>
    </div>
</div>

<app-modal [(open)]="isModalOpen">
    <form
          [formGroup]="form">
        <div class="modal-header">
            <h5 class="modal-title">{{'ADD_RESTAURANT' | translate}}</h5>
            <button type="button"
                    class="btn-close"
                    (click)="toggleModal()"
                    aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <loading [loading]="loading"></loading>

            <ng-container *ngIf="!loading">
                <app-input formControlName="name"
                           [name]="'NAME' | translate">
                </app-input>

                <app-input formControlName="restaurant"
                           type="select"
                           [options]="restaurantOptions"
                           [name]="'RESTAURANT' | translate">
                </app-input>

                <app-input formControlName="dateFrom"
                           type="datetime-local"
                           [name]="'DATE_FROM' | translate">
                </app-input>
                <app-input formControlName="dateTo"
                           type="datetime-local"
                           [name]="'DATE_TO' | translate">
                </app-input>
            </ng-container>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="toggleModal()">
                {{'CLOSE_MODAL' | translate}}
            </button>
            <button type="submit"
                    class="btn btn-success">
                {{'SAVE' | translate}}
            </button>
        </div>
    </form>
</app-modal>
