<div class="card px-4">
    <div class="card-body">
        <div class="d-flex mt-4">
            <h1>{{'RESERVATIONS' | translate}}</h1>

            <add-reservation-button (reservationAdded)="reloadSubject.next()">
            </add-reservation-button>
        </div>

        <div class="mt-5">
            <app-list endpoint="reservations"
                      [queryObject]="queryObject"
                      [reload$]="reload$">
                <ng-template let-reservation>
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <span class="fs-4">#{{reservation.id}}</span>
                            <div class="text-muted">
                                {{reservation.restaurant.name}} - {{reservation.start | date : 'short'}}
                            </div>

                            <span class="text-muted"
                                  *ngIf="!queryObject">
                                {{reservation.user.email}}
                            </span>
                        </div>

                        <div>
                            <button class="btn btn-outline-secondary"
                                    [routerLink]="['.', reservation.id]">
                                {{'DETAILS' | translate}}
                            </button>
                        </div>
                    </div>
                </ng-template>
            </app-list>
        </div>
    </div>
</div>
