<div class="card mb-4">
    <div class="card-body">
        <loading [loading]="!restaurant"></loading>

        <ng-container *ngIf="restaurant">
            <h1 class="mt-4">{{restaurant.name}}</h1>
            <div class="text-muted">{{restaurant.url}}</div>
            <div class="text-muted">{{restaurant.address}}</div>

            <div class="mt-3">
                <p class="my-4">
                    {{restaurant.description}}
                </p>
            </div>

            <hr />

            <div class="btn-group">
                <a [routerLink]="['/app/restaurants', restaurantId, 'tables']"
                   routerLinkActive="active"
                   class="btn btn-secondary">
                    {{'TABLES' | translate}}
                </a>
                <a [routerLink]="['/app/restaurants', restaurantId, 'ingredients']"
                   routerLinkActive="active"
                   class="btn btn-secondary">
                    {{'INGREDIENTS' | translate}}
                </a>
            </div>
        </ng-container>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="mt-4">
            <div class="mt-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
