<div class="card px-4">
    <div class="card-body">
        <div class="d-flex mt-4">
            <h1>{{'MENUS' | translate}}</h1>
            <div class="buttons ms-3 mt-1">
                <button *ngIf="'menus:add' | hasAccess"
                        class="btn btn-outline-success"
                        (click)="addMenu()">
                    {{'ADD_MENU' | translate}}
                </button>
            </div>
        </div>

        <div class="mt-5">
            <app-list endpoint="menus" [reload$]="reload$">
                <ng-template let-menu>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex row">
                            <span class="fs-4">{{menu.name}}</span>
                            <span class="text-muted">{{menu.restaurant.name}}</span>
                        </div>

                        <div>
                            <button class="btn btn-outline-secondary"
                                    [routerLink]="['.', menu.id]">
                                {{'DETAILS' | translate}}
                            </button>
                        </div>
                    </div>
                </ng-template>
            </app-list>
        </div>
    </div>
</div>

<app-modal [(open)]="isModalOpen">
    <form (ngSubmit)="saveMenu()"
          [formGroup]="form">
        <div class="modal-header">
            <h5 class="modal-title">{{'ADD_RESTAURANT' | translate}}</h5>
            <button type="button"
                    class="btn-close"
                    (click)="toggleModal()"
                    aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <loading [loading]="loading"></loading>

            <ng-container *ngIf="!loading">
                <app-input formControlName="name"
                           [name]="'NAME' | translate">
                </app-input>

                <app-input formControlName="restaurant"
                           type="select"
                           [options]="restaurantOptions"
                           [name]="'RESTAURANT' | translate">
                </app-input>
            </ng-container>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="toggleModal()">
                {{'CLOSE_MODAL' | translate}}
            </button>
            <button type="submit"
                    class="btn btn-success">
                {{'SAVE' | translate}}
            </button>
        </div>
    </form>
</app-modal>
